.sc-profile {
    height: 100vh;
    padding-bottom: 2rem;
    overflow: hidden;
    overflow-y: scroll;
}

.card-profile {
    margin-top: 3rem;
    padding: 0;
    overflow: hidden;
    .card-header {
        background: $white;
        padding: 1rem;
        background-size: cover !important;
        color: $white;
        border: none;
    }
    .card-body {
        h4 {
            color: $cyan;
        }
        .list-item {
            .item {
                cursor: default;
                margin-bottom: 1rem;
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: $black;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &:hover {
                    i {
                        color: $cyan;
                        transition: $transition;
                    }
                }
                p {
                    font-size: 1rem;
                    margin-bottom: 0;
                }
                i {
                    font-size: 1.75rem;
                    min-width: 50px;
                    transition: $transition;
                }
            }
        }
    }
    .card-footer {
        background: $white;
        padding: 0;
        h4 {
            color: $cyan;
        }
        .list-item {
            .item {
                padding: 1rem;
                cursor: pointer;
                transition: $transition;
                &:nth-child(odd) {
                    background: $gray-10;
                    &:hover {
                        background: $gray-20;
                    }
                }
                &:nth-child(even) {
                    &:hover {
                        background: $gray-10;
                    }
                }
            }
        }
    }
}