.cover {
    display: flex;
    align-items: center;
    height: 150px;
    background: $gray-10;
    border-bottom: 10px solid $cyan;
    background-size: cover !important;
    .cover-text {
        position: relative;
        color: $white;
        // z-index: 1;
    }
}