$white: #ffffff;
$gray-10: #f2f2f2;
$gray-20: #e6e6e6;
$black: #000000;
$cyan: #82CCDD;
$cyan-light: #73c6d9; 
$transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
$box-shadow: 2px 2px 15px rgba(0,0,0, .25);
