.users {
    background: rgba(242, 242, 242, .5);
    height: 100vh;
    padding: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    .user-lists {
        .list {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            border: 1px solid rgba($black,.25);
            overflow: hidden;
            padding: .25rem;
            border-radius: 12px;
            padding-left: 1rem;
            padding-right: 1rem;
            cursor: pointer;
            transition: $transition;
            p {
                font-weight: bold;
            }
            &.active {
                background: $cyan;
                color: $white;
                border: 1px solid transparent;
            }
            &:hover {
                transition: $transition;
                background: $cyan;
                color: $white;
                border: 1px solid transparent;
            }
            img {
                margin-right: 1rem;
            }
        }
    }
}