.sc-activities {
    height: 100vh;
    overflow: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
}

.activities {
    margin-top: 3rem;
    .form-post {
        .form-group {
            position: relative;
        }
    }
    .toggle-comment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid $cyan; 
        .btn {
            padding-left: 0;
            padding-right: 0;
            color: rgba($black,.5) !important;
            font-weight: bold;
        }
    }
    .user-posts {
        padding-bottom: 23rem;
        max-height: 800px;
        overflow: hidden;
        overflow-y: scroll;
        @include media-breakpoint-down(sm) {
            padding-bottom: 27rem;
        }
        .list-post {
            margin-bottom: 1.5rem;
            p {
                color: rgba($black,.65);
            }
            .action {
                display: flex;
                justify-content: space-between;
                .btn {
                    background: transparent;
                    color: $black;
                    border: none;
                }
            }
        }
    }
}

.modal-comment {
    .modal-content {
        .toggle-close {
            position: absolute;
            top: .5rem;
            right: .75rem;
            background: transparent;
            border: none;
            font-size: 2rem;
            color: rgba($black,.5);
            z-index: 1;
        }
    }
    .modal-body {
        position: relative;
        padding: 1.5rem;
        .user-post {
            padding-right: 2rem;
        }
        .post-comment {
            max-height: 280px;
            overflow-y: scroll;
            padding-top: 1rem;
            .list-comment {
                margin-bottom: 1rem;
                border-bottom: 1px solid rgba($black,.15);
                .user {
                    span {
                        font-weight: bold;
                        color: rgba($black,.5);
                    }
                }
                .comment {
                    margin-bottom: 1rem;
                    textarea {
                        padding: 0;
                        border: none;
                    }
                    textarea[readonly] {
                        background-color: $white;
                    }
                }
                .action {
                    display: flex;
                    justify-content: flex-end;
                    .btn {
                        background: transparent;
                        color: $black;
                        border: none;
                    }
                }
            }
        }
        .form-comment {
            // position: fixed;
            left: 0;
            width: 100%;
            bottom: 0;
            background: $white;
            padding-top: 1rem;
            .form-group {
                position: relative;
                .btn-post {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background: $cyan;
                    color: $white;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }
        }
    }
}

.modal-confirm {
    
    .modal-dialog {
        text-align: center;
        @include media-breakpoint-up(md) {
            text-align: center;
            max-width: 345px;
        }
        .modal-content {
            border-radius: 0;
        }
        .modal-body {
            padding: 3rem;
            .btn {
                width: 100px !important;
                height: 100px;
                color: $white;
                font-size: 2.5rem;
                border-radius: 0;
                &:nth-child(1) {
                    margin-right: 1rem;
                }
                &:nth-child(2) {
                    margin-left: 1rem;
                }
            }
        }
    }
}