.activities {
    margin-top: 3rem;
    .form-post {
        .form-group {
            position: relative;
            .btn-post {
                position: absolute;
                bottom: 0;
                right: 0;
                background: #82CCDD;
                color: white;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
    .toggle-comment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #82CCDD; 
        .btn {
            padding-left: 0;
            padding-right: 0;
            color: rgba(0,0,0,.5) !important;
            font-weight: bold;
        }
    }
    .user-posts {
        padding-bottom: 14rem;
        max-height: 800px;
        overflow: hidden;
        overflow-y: scroll;
        .list-post {
            margin-bottom: 1.5rem;
            .action {
                display: flex;
                justify-content: space-between;
                .btn {
                    background: transparent;
                    color: black;
                    border: none;
                }
            }
        }
    }
}