.activities {
    margin-top: 3rem;
    .comment-box {
        padding: 1rem;
        box-shadow: 1px 1px 25px rgba(0,0,0, .25);
        border-radius: 10px;
        width: 85%;
    }
    .post-comment {
        .list-comment {
            margin-bottom: 1rem;
            .user {
                margin-bottom: 1rem;
            }
            .comment {
                margin-bottom: 1rem;
                input {
                    width: 100%;
                }
            }
            .action {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}